/* get fonts */
/* --- 'Pacifico' --- 'Dancing Script' --- 'Open Sans Condensed' --- */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&family=Pacifico&display=swap');




/* reset browser css */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, hsla(219, 34%, 23%, 0.328), var(--darkish-grad), var(--shadow-blue));
    border-radius: 2rem;
}


/* colors */
:root{
    /* light theme */
    --bg-color: #ffffff;
    --primary-text-color: #333333;
    --secondary-text-color: #9a9a9a;
    --shadow-color: #cacaca;
    --bg-blue-a: hsl(203, 100%, 72%);
    --bg-blue-b: hsl(210, 82%, 68%);
    --primary-blue: hsl(203, 89%, 53%);
    --secondary-blue: hsl(195, 100%, 50%);
    --shadow-blue: hsl(210, 78%, 56%);
    --headers: hsl(210, 91%, 27%);
    --blue-text: hsl(209, 65%, 15%);
    --light-grad: rgb(232, 232, 255);

    /* dark theme */

    --intro-bg: hsl(217, 28%, 15%);
    --dark-bg: hsl(218, 28%, 13%);
    --darker-bg: hsl(216, 53%, 9%);
    --black-bg: hsl(215, 74%, 5%);
    --dark-grad: hsl(219, 30%, 18%);
    --darkish-grad: hsl(218, 34%, 23%);
    --white: hsl(0, 0%, 93%);
    --whitish: hsl(0, 0%, 85%);
}


/* utility */
/* hide menu button by default */
#menu-btn{
    display: none;
}

/* bg colors */
body, .fixed_nav, .aside, .settings{
    background-color: var(--bg-color);
    /* background-color: var(--dark-bg); */
}

.center, .aside .header, .about_me, .photo{
    background-color: var(--light-grad);
    /* background-color: var(--darkish-grad); */
}

.timeline li{
    background-color: var(--bg-color);
    box-shadow: 1px 2px 5px var(--blue-text);
    /* background-color: var(--dark-bg);
    box-shadow: 1px 2px 5px var(--black-bg); */
}

h1{
    font-size: 2.3rem;
    /* small = 2rem */
    /* large = 3rem */
}

h2{
    font-size: 1.8rem;
    /* small = 1.5rem */
    /* large = 2.5rem */
}

h3{
    font-size: 1.4rem;
    /* small = 1rem */
    /* large = 2rem */
}

h4{
    font-size: 1.2rem;
    /* small = 0.9rem */
    /* large = 1.5rem */
}

h1, h2, h3, h4{
    color: var(--headers);
    /* color: var(--white); */
    font-family: 'Dancing Script', 'Pacifico', 'open sans condensed';
}

p{
    line-height: 1.4;
    font-size: 0.82rem;    
    color: var(--blue-text);
    /* color: var(--whitish); */
    /* small = 0.72rem */
    /* large = 1rem */
}

p a{
    color: var(--primary-blue);
}

/* text colors and buttons */
.date, .clock, .am_pm{
    color: var(--headers);
    /* color: var(--whitish); */
}


.clock_hand div{
    background-color: var(--secondary-blue);
    /* background-color: var(--darker-bg); */
}

.small, .medium, .large{
    color: var(--blue-text);
    box-shadow: 0 0 2px var(--blue-text);
    /* color: var(--whitish); */
    /* box-shadow: 0 0 2px var(--whitish); */
}

.toggle_btn{
    background-color: var(--light-grad);
    border: 1px solid var(--headers);
}

.toggle_btn .switch{
    background-color: var(--headers);
}

.timeline li span{
    color: #000;
    /* color: var(--white); */
}

.fixed_nav h1{
    background-color: var(--blue-text) !important;
    color: var(--bg-color) !important;
    /* color: var(--dark-bg); */
    /* background-color: var(--bg-color); */
}

.define span{
    background-color: transparent;
    color: var(--blue-text);
    /* color: var(--bg-color); */
    /* background-color: var(--primary-blue); */
}






footer{
    padding: 2rem;
    text-align: center;
}
footer p{
    position: relative;
    z-index: 6;
    font-size: 0.85rem;
    color: var(--shadow-blue);
}
footer a{
    color: var(--headers);
    transition: color 0.3s ease;
    font-weight: 700;
}
footer a:hover{
    color: orangered;
}


input:focus,
button:focus,
textarea:focus{
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.hide{
    display: none !important;
}


.fade-in{
    /* opacity: 0; */
    animation: fade-in 0.2s ease forwards;
}
@keyframes fade-in{
    100%{
        z-index: 4;
        opacity: 0.7;
    }
}

.fade_out{
    opacity: 1;
    animation: fade-out 0.2s ease forwards;
}
@keyframes fade-out{
    100%{
        opacity: 0;
    }
}

.colors{
    background-color: var(--light-grad);
    animation: colors 0.5s ease forwards;
}
@keyframes colors{
    50%{
        background-color: rgba(65, 68, 255, 0.75);
    }
}

.body_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: var(--blue-text);
    opacity: 0.6;
    transform: scale(0);
    transition: all 0.5s ease;
}






/* body */
body{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    max-width: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

/* fixed left */
.fixed_nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 5%;
    height: 100vh;
    text-align: center;
    padding: 4rem 0;
    overflow: hidden;
}

.fixed_nav h1{
    display: inline-block;
    position: absolute;
    left: -0.5rem;
    top: 3rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 2rem !important;
    transform: rotate(-90deg);
    font-weight: 800;
}

.fixed_nav nav{
    padding: 8rem 0 0 0;
}

.fixed_nav nav li{
    margin-bottom: 1.5rem;
}

.fixed_nav nav img{
    width: 50%;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    cursor: pointer;
}
.fixed_nav nav img:hover{
    opacity: 1;
}

.fixed_nav .social{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
}

.fixed_nav .social a{
    display: inline-block;
    margin: 0.5rem 0;
}

.fixed_nav .social img{
    width: 50%;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.fixed_nav .social img:hover{
    opacity: 1;
}







































/* main content */

/* main tag controls the center content */
main{
    max-width: 100%;
    overflow-x: hidden !important;
    padding: 1rem 21.5rem 1rem 4.5rem;
}

.center{
    position: relative;
    top: 0;
    left: 0;
    border-radius: 2rem;
}

.current_time{
    display: none;
}

.center_inner{
    width: 90%;
    margin: 0 auto;
}

.center_inner_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.center_inner_body{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2rem;
}

.timeline li{
    box-shadow: 1px 1px 3px var(--shadow-blue);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.timeline li h4{
    font-weight: 600;
}

.timeline li p{
    width: 80%;
    margin: 0.4rem 0 1rem 0;
}

.timeline li span{
    font-size: 0.7rem;   
}

.today{
    transform: scale(1.1);
}

.timeline li .tweet{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}


.timeline li a{
    width: 8%;
}

.timeline li img{
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s ease;
}
.timeline li img:hover{
    opacity: 1;
    transform: scale(1.2);
}




/* projects section */
.projects_inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.projects h2{
    display: none;
}

.projects_inner > div{
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 3rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition:all 0.3s ease
}

.projects_inner > div h3{
    position: relative;
    z-index: 2;
    color: var(--bg-color) !important;
    font-size: 2rem !important;
    font-weight: 400;
    opacity: 0;
    transition:all 0.4s ease
}

.projects_inner > div:hover .overlay{
    opacity: 0.5;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(1, 55, 180);
    opacity: 0;
    border-radius: 0.5rem;
    transition: all 0.4s ease;
}

.proj_a{
    background: url(./img/pricing.jpg)no-repeat 0 0/cover;
}

.proj_b{
    background: url(./img/static.jpg)no-repeat 0 0/cover;
}

.proj_c{
    background: url(./img/dark.jpg)no-repeat 0 0/cover;
}

.proj_d{
    background: url(./img/manage.jpg)no-repeat 0 0/cover;
}

.proj_e{
    background: url(./img/dashboard.jpg)no-repeat 0 0/cover;
}

.proj_f{
    background: url(./img/easybank.jpg)no-repeat 0 0/cover;
}
.proj_g{
    background: url(./img/four-card.jpg)no-repeat 0 0/cover;
}
.proj_h{
    background: url(./img/testimonials.jpg)no-repeat 0 0/cover;
}


























/* aside content */

.aside{
    position: fixed;
    z-index: 3;
    width: 25%;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    padding: 1rem;
}

.aside .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    padding: 0.5rem;
}

.aside .escape{
    display: none;
}

.date{
    font-family: 'Dancing Script', 'Pacifico', 'open sans condensed';
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
}

.clock_container{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-shadow: 1px 2px 10px var(--shadow-color);
    text-align: center;
    margin: 0 auto;
}

.clock_hand{
    width: 100%;
    position: relative;
    top: 50%;
    transform: rotate(-90deg);
    background-color: transparent;
    /* padding: 1px; */
}
.move{
    animation: clock 60s linear infinite;
}
@keyframes clock{
    100%{
        transform: rotate(270deg);
    }
}

.clock_hand div{
    position: absolute;
    top: -2px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}


.clock{
    position: relative;
    top: 40%;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.am_pm{
    font-size: 0.7rem;
    font-weight: 600;
}



/* profile */

.profile{
    transition: all 0.2s ease;
}

.photo{
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;
}

.photo img{
    border-radius: 0.5rem;
    width: 50%;
    width: 0 auto;
}

.about_me{
    padding: 1rem;
    border-radius: 1rem;
}

.profile h4{
    margin-bottom: 1rem;
}



/* overview */
.project_overview{
    border-radius: 0.5rem;
    padding: 1rem 0;
    position: relative;
    transition: all 0.3s ease;
}

.project_overview div{
    transition: all 0.3s ease;
}

.project_overview h3{
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.project_overview img{
    border-radius: 0.5rem;
}

.project_overview p{
    margin: 1rem 0;
}

.project_overview .live{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: var(--bg-color);
    background-color: var(--shadow-blue);
    border-radius: 0.2rem;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
.project_overview .live:hover{
    background-color: var(--secondary-blue);
}

.project_overview .code{
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--shadow-blue);
    background-color: transparent;
    border: 1px solid var(--shadow-blue);
    border-radius: 0.2rem;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
.project_overview .code:hover{
    background-color: var(--blue-text);
    border: 1px solid var(--blue-text);
    color: var(--bg-color);
}

.languages{
    margin-top: 1rem;
}

.languages li{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


.languages img{
    width: 10%;
    padding: 0;
    margin: 0 0.5rem 0.3rem 0;
}

.languages .html,
.languages .css,
.languages .js{
    background-color: var(--light-grad);
    border-radius: 1rem;
    padding: 1px;
    width: 100%;
}

/* progress bars */
.html .bar{
    background-color: rgb(251, 93, 35);
    padding: 2px;
    border-radius: 1rem;
    width: 95%;
    position: relative;
}

.css .bar{
    background-color: var(--secondary-blue);
    padding: 2px;
    border-radius: 1rem;
    width: 80%;
    position: relative;
}

.js .bar{
    background-color: rgb(255, 217, 0);
    padding: 2px;
    border-radius: 1rem;
    width: 50%;
    position: relative;
}

/* progress bar heads */
.html .dot{
    background-color: rgb(251, 93, 35);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 0;
}

.css .dot{
    background-color: var(--secondary-blue);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 0;
}

.js .dot{
    background-color: rgb(255, 217, 0);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: 0;
}

















/* additional features */

/* settings */
.settings{
    position: fixed;
    top: 10%;
    left: 25%;
    z-index: 6;
    width: 50%;
    background-color: var(--bg-color);
    padding: 0 4rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px var(--blue-text);
    transform: scale(0);
    transition: all 0.3s ease;
}

.settings header{
    padding: 2rem;
    text-align: center;
    position: relative;
}

.settings header .escape{
    position: absolute;    
    width: 6%;
    left: 0;
    top: 2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.settings header .escape:hover{
    transform: scale(1.2);
}

.settings h3{
    margin-bottom: 0.5rem;
}

.settings .define{
    display: flex;
}

.define .btns{
    margin-right: 2rem;
}

.define .btns span{
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 0 1px var(--shadow-color);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}
.define .btns span:hover{
    box-shadow: 0 0 4px var(--shadow-color);
}

.settings p{
    color: var(--blue-text);
}

.auto, .manual, .fonts{
    padding: 1rem 0;
}

.btns{
    display: flex;
    align-items: center;
}

.btns img{
    width: 8%;
}

.toggle_btn{
    margin: 0 0.5rem;
    width: 60px;
    padding: 2px 3px;
    border-radius: 2rem;
    position: relative;
    transition: all 0.2s ease;
}

.toggle_btn .switch{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    left: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}


.fonts h3{
    margin-bottom: 1.5rem;
}

.small, .medium, .large{
    padding: 0.5rem 2rem;
    border: 0;
    font-size: 0.8rem;
    border-radius: 2rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

.medium{
    margin: 0 1rem;
}

.current{
    background-color: var(--shadow-blue) !important;
    color: var(--bg-color) !important;
    box-shadow: none !important;
}

.no_click{
    cursor: not-allowed !important;
    opacity: 0.4 !important;
}